!!!
%html
  %head
    %title zalapeach blog
    = stylesheet_link_tag 'application', media: :all
  %body
    %section#header
      %figure
        = image_tag 'developer_icon.svg', size: '100x100',
          class: 'header-icon'
      %h1.header-title Juan Carlos Aguilar Rincón
      %p.header-description Ingeniero de software
    %nav.menu
      %ul.menu-content
        %li.menu-element= link_to 'Inicio', root_path, class: 'menu-element-link'
        %li.menu-element= link_to 'Acerca de mi', '#', class: 'menu-element-link'
        %li.menu-element= link_to 'Blog', '#', class: 'menu-element-link'
        %li.menu-element= link_to 'Contacto', '#', class: 'menu-element-link'
        %li.menu-element= link_to 'Curriculum', '#', class: 'menu-element-link'
    = yield
    %footer
      %p.footer-info &copy; Juan Carlos Aguilar Rincón, algunos derechos reservados
